@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: 'Nunito', sans-serif;
$warning: #dfbf30;
$white: #e0e0e0;

@import '~bulma';

#play-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

html,
body {
  background: black;
  color: $white;
  font-weight: 700;
}

canvas {
  background: $white;
}

.title,
.subtitle {
  color: $white;
}
