html,
body {
  background: #26272d;
  font-family: 'Fira Code', monospace;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px){
  canvas {
    width: 100vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
  }
}
